<webapp>
	<servlet>
		<servlet-name>personServlet</servlet-name>
		<servlet-class>no.steria.swhrs.PersonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<url-pattern>person/*</url-pattern>
		<servlet-name>personServlet</servlet-name>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>registrationServlet</servlet-name>
		<servlet-class>no.steria.swhrs.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<url-pattern>hours/*</url-pattern>
		<servlet-name>registrationServlet</servlet-name>
	</servlet-mapping>
</webapp>